<div class='loginContainer'>
    <form class='loginForm'>
        <div>
            <label for='username'>Username</label>
            <input type='text' placeholder='Enter Username' id='username-login'>
        </div>
        <div>
            <label for='password'>Password</label>
            <input type='text' placeholder='Enter Password' id='password-login'>
        </div>
        <div class='btn-container'>
            <button type='submit'>Log In</button>
        </div>
    </form>

    <form class='signupForm'>
        <div>
            <label for='username'>Username</label>
            <input type='text' placeholder='Enter Username' id='username-signup'>
        </div>
        <div>
            <label for='email'>Email</label>
            <input type='text' placeholder='Enter email address' id='email-signup'>
        </div>
        <div>
            <label for='password'>Password</label>
            <input type='text' placeholder='Enter Password' id='password-signup'> 
        </div>
        <div class='btn-container'>
            <button type='submit'>Sign Up</button>
        </div>

    </form>

</div>

<script src='js/login.js'></script>